@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
select {
  color: white;
}

input::placeholder,
textarea::placeholder {
  color: rgb(148 163 184); /* slate-400 */
}

select option {
  color: white;
  background: #111827;
}